html {
    height: 100vh;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
}

header {
    /* background */
    background-image:url("../images/header_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* size */
    height: 250px;
    padding: 100px;
    /* font */
    color: aliceblue;
}

p {
    margin: 0;
    padding: 1em 0;
}

.p-1 {
    width: 500px;
}
.p-2 {
    width: 200px;
}

a {
    color: inherit;
}

.section-title {
    padding: 26px 0px;
}

#section-more {
    background-color: antiquewhite;
    padding: 30px;
}

footer {
    background-color: black;
    color: aliceblue;
    margin: auto 0px;
    padding: 20px 0px;
}

.footer-option {
    display: inline;
    margin: auto 10%;
}