body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

a {
    color: inherit;
}

footer {
    background-color: black;
    color: aliceblue;
    margin: auto 0px;
    padding: 20px 0px;
}

.footer-option {
    display: inline;
    margin: auto 15%;
}